<app-search></app-search>
<app-tag></app-tag>
<ul>
  <li *ngFor="let stanza of room">

    <a routerLink="/stanza/{{stanza.id}}">
      <img src= "{{stanza. imageUrl}}" alt="foto stanze">

      <div class="content">
        <div class="name">
          {{stanza.nome}}
        </div>
        <span class="favorite {{stanza.favorite?'':'not'}}">♥</span>

        <div class="product-item-footer">
          <div class=" luogo">
            <span *ngFor ="let  luogo of stanza.luogo">
                  {{luogo}}
            </span>
            </div>


         <div class="tempo-room">
           <span>
             ⏳
           </span>
           {{stanza.roomtime}}
         </div>
        </div>
        <div class="prezzo">
          {{stanza.prezzo | currency:'EUR':true}}
        </div>

      </div>
      <div class="stelle">
        Valutazione:{{stanza.stelle}}
      </div>
    </a>
  </li>
</ul>
