<app-search></app-search>
<app-tag></app-tag>
<p> <app-data></app-data></p>

<app-not-found [visible]= "!insertionsWithPhoto || insertionsWithPhoto.length <=0" resetLinkText="Torna alla home"></app-not-found>-
<div>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    filtra
  </button>
  <button class="btn btn-outline-primary mb-2 me-2" (click)="ResetFilter() "[hidden]="!filtering" >Reset </button>

</div>
<div class="collapse" id="collapseExample">
  <div class="border mb-2 shadow-sa" style="width:  250px;">
    <form>
      <div class="row mx-0">
        <div class="col">
          <small><b>Filtro stanza:</b></small>
          <div class="form-group">
            <div class="form-check">
              <input
                type="checkbox"
                class ="form-check-input position-static me-2"
                [(ngModel)]="stanza"
                (change)="filter()"
                name="stanza">
              <label class="form-check-label small">stanza</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class ="form-check-input position-static me-2"
                [(ngModel)]="appartamento"
                (change)="filter()"
                name="appartamento">
              <label class="form-check-label small">appartamento</label>
            </div>
          </div>
        </div>
        <div class="col">
          <small><b>Filtro servizi:</b></small>
          <div class="form-group">
            <div class="form-check">
              <input
                type="checkbox"
                class ="form-check-input position-static me-2"
                [(ngModel)]="idro"
                (change)="filter()"
                name="parcheggio">
              <label class="form-check-label small">Idromassaggio</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class ="form-check-input position-static me-2"
                [(ngModel)]="allin"
                (change)="filter()"
                name="stanza">
              <label class="form-check-label small">All-inclusive</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class ="form-check-input position-static me-2"
                [(ngModel)]="spa"
                (change)="filter()"
                name="Spa">
              <label class="form-check-label small">Spa</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="rmb-2">
  <div>
  </div>
  <ul>
    <li *ngFor="let item of insertionsWithPhoto; let i = index" >
      <a routerLink="/stanza/{{item.insertion.id}}">
        <!-- <div *ngIf="let photo of item.photo"> -->
          <img  src="{{item.photo}}" alt="foto stanza">
        <!-- </div> -->
        <div class="content">
          <div class="name">
            {{item.insertion.name}}
          </div>
          <span class="favorite">♥</span>
          <div class="product-item-footer">
            <div class=" luogo">
              <span>
                {{item.insertion.city}}
              </span>
            </div>
            <div class="tempo-room">
              <span>
                ⏳
              </span>
              {{1}}
            </div>
          </div>
          <div class="prezzo">
            {{item.insertion.price | currency:'EUR':'symbol'}}
          </div>
          <div class="valutazione">
            {{item.insertion.rating}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
