div{
  display: flex;
  flex-wrap: wrap;

}
div a{
  background-color: whitesmoke;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  color: cornflowerblue;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
