div{
  display: flex;
  flex-wrap: wrap;

}
div button{
  background-color: whitesmoke;
  padding: 2px 4px;
  margin: 1px 2px;
  border-radius: 10rem;
  color: #383838;
  font-weight: 550;
  text-decoration: none;
  font-family: 'Dosis', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 11px;
  border-style: none;
  border-block: none;
  border-width: medium;
}
