  <div class="col">
    <div class="card card-product-grid">
      <ul>
      <li>


      <a  class="img-wrap"> <img src="{{room.imageUrl}}" class="img-rounded"  width="180" height="225" alt="Product"> </a>

      <div class="info-wrap">
        <a href="#" class="title text-truncate">{{room.id}}</a>
        <div class="prezzo">{{room.prezzo | currency:'EUR'}}</div>

        <button href="#"  class="btn btn-sm btn-light" (click)="modifica()">
          <i class="material-icons md-edit"></i>Modifica
        </button>
        <button href="#"  class="btn btn-sm btn-outline-danger"(click)="cancella()">
          <i class="material-icons md-delete_forever"></i>Elimina
        </button>
      </div>
      </li>
      </ul>
    </div> <!-- card-product  end// -->
  </div>


