<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/feedback" routerLinkActive="text-dark">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portofolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/stanzeAffittate" routerLinkActive="text-dark">Stanze affittate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/prenotazioni" routerLinkActive="text-dark">Prenotazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/welcome/:userid" routerLinkActive="text-dark">Riassunto</a>
      </li>
    </ul>
  </div>
</nav>
