.login-container{
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 35%;

}
.login-form{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
  text-align: center;
  color: #333;
}
.login-container form{
  padding: 5%;
}
.btnSubmit
{
  width: 40%;
  border-radius: 0.5rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.form-group {
  margin-top: 3%;
}

.alert {
  margin-top: 2%;
}
