<mat-card>
  <mat-card-header>
    <h2>Login</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="loginform"
          (ngSubmit)="loginform.valid && proceedLogin()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" >
      </mat-form-field>
      <div id="g_id_onload"
           data-client_id="55986931159-cgo7iq0rkupitd85injpre9bg69oh199.apps.googleusercontent.com"
           data-context="Accedi"
           data-ux_mode="popup"
           data-login_uri="http://localhost:8888/login/oauth2/code/google"
           data-itp_support="true">
      </div>
      <div class="g_id_signin"
           data-type="standard"
           data-shape="pill"
           data-theme="filled_blue"
           data-text="Accedi con"
           data-size="medium"
           data-locale="en"
           data-logo_alignment="left"
           (click)="loginGoogle()">
      </div>
      <br>
      <br>
        <button mat-raised-button color="primary">Login</button>
        <a style="float: right;" routerLink="/registrazione" mat-raised-button color="accent">New User?</a>
    </form>
  </mat-card-content>
</mat-card>

