<div class="col">
  <div class="card card-product-grid">
    <a href="#" class="img-wrap"> <img src="{{stanza.imageUrl}}" class="img-rounded"  width="180" height="225" alt="Product"> </a>
    <div class="info-wrap">
      <a href="#" class="title text-truncate">{{stanza.descrizione}}</a>
      <div class="price mb-2">{{stanza.prezzo | currency:'EUR'}}</div>

      <button href="#"  class="btn btn-sm btn-light" (click)="editSta()">
        <i class="material-icons md-edit"></i>Modifica
      </button>
      <button href="#"  class="btn btn-sm btn-outline-danger"(click)="delSta()">
        <i class="material-icons md-delete_forever"></i>Elimina
      </button>
    </div>
  </div> <!-- card-product  end// -->
</div>
