<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hroom</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/welcome">
            <span class="material-icons md-home" title="home" aria-hidden="true"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Stanze"  routerLink="/stanze">
            <span class="material-icons md-archive" title="stanze" aria-hidden="true"></span>
            Stanze
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Promozioni" routerLink="/">
            <span class="material-icons md-campaign" title="promozioni" aria-hidden="true"></span>
            Promozioni
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Fidelity" routerLink="/fidelity">
            <span class="material-icons md-card_membership" title="Fidelity" aria-hidden="true"></span>
            Fidelity
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="prenotazioni" routerLink="/prenotazioni">
            <span class="material-icons md-local_grocery_store" title="prenotazioni" aria-hidden="true"></span>
           prenotazioni
          </a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

      </form>

      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="md-28 material-icons md-menu"></i> </button>
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link btn-icon" onclick="darkmode(this)" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
              </svg>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <app-notifications></app-notifications>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> English </a>
          </li>

          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <img class="img-xs rounded-circle" *ngIf="BasicAuth.isLogged()" src="/assets/images/avatars/avatar4.jpg" alt="User" width="35" height="35">
              <img class="img-xs rounded-circle"  *ngIf="!BasicAuth.isLogged()" src="/assets/images/avatars/offline_user.png" alt="User" width="35" height="35">
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" routerLink="/login">Accedi</a>
              <a class="dropdown-item" routerLink="/signup">Registrati</a>
              <a class="dropdown-item disabled" href="#">Profilo</a>
              <a class="dropdown-item disabled" href="#">Settings</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item text-danger" *ngIf="BasicAuth.isLogged()" routerLink="/logout">Logout {{BasicAuth.loggedUser()}}</a>
              <a class="dropdown-item disabled" *ngIf="!BasicAuth.isLogged()" routerLink="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
