<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hroom</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="toolbar" *ngIf="isMenuVisible" role="banner">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="text-dark">
            <span class="material-icons md-home" title="home" aria-hidden="true"></span>
            Soggiorni
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="modifica" *ngIf="isadmin"  routerLink="/stanze/grid" routerLinkActive="text-dark">
            <span class="material-icons md-archive" title="stanze" aria-hidden="true"></span>
            RoomUD
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Welcome" routerLink="/welcome/:userId" routerLinkActive="text-dark">
            <span class="material-icons md-campaign" title="welcome" aria-hidden="true"></span>
            Welcome
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Fidelity"  routerLink="/booking" routerLinkActive="text-dark">
            <span class="material-icons md-card_membership" title="booking" aria-hidden="true"></span>
          booking
          </a>
        </li>
        <li class="nav-item">
         <!-- <a class="nav-link" title="prenotazioni" routerLink="/">-->
            <a class="nav-link"*ngIf="isadmin" routerLink="/user" routerLinkActive="text-dark">
            <span class="material-icons md-local_grocery_store" title="user" aria-hidden="true"></span>
              Utenti
            </a>
        </li>
      </ul>




      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="md-28 material-icons md-menu"></i> </button>
        <ul class="nav">



          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <img class="img-xs rounded-circle" *ngIf="BasicAuth.isLogged()" src="/assets/images/avatars/avatar4.jpg" alt="User" width="35" height="35">
              <img class="img-xs rounded-circle"  *ngIf="!BasicAuth.isLogged()" src="/assets/images/avatars/offline_user.png" alt="User" width="35" height="35">
            </a>
            <div class="dropdown-menu dropdown-menu-end">

              <a class="dropdown-item  " title="Profilo"  routerLink= "/welcome/:userId">Profilo</a>



              <a class="dropdown-item " href="#">Settings</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item text-danger"  routerLink="/login">Logout {{BasicAuth.loggedUser()}}</a>

            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</nav>
