<app-nav></app-nav>
<!--
<div class="feedback-list-container">
  <h2>My Feedback</h2>


  <div class="feedback-area">
    <textarea [(ngModel)]="newFeedback.description" placeholder="Leave your feedback here..."></textarea>
    <div>
      <label>Rating:</label>
      <select [(ngModel)]="newFeedback.rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button (click)="submitFeedback()">Submit</button>
    </div>
  </div>


  <div *ngFor="let feedback of feedbacks" class="feedback-card">
    <div class="feedback-rating">{{ feedback.rating }}/5</div>
    <div class="feedback-message">{{ feedback.description }}</div>
    <div class="feedback-date">Received: {{ feedback.timestamp }}</div>
    <div class="feedback-type" [ngClass]="{'feedback-positive': feedback.rating >= 3, 'feedback-negative': feedback.rating < 3}">
      {{ feedback.rating >= 3 ? 'Positive' : 'Negative' }}
    </div>
  </div>
</div>
-->

