.bell {
  position: relative;
}

.bell :hover {
  cursor: pointer;
  opacity: 0.7;
  color: rgb(58, 58, 58);
}

.bell__count {
    background-color: red;
    border: 1px white solid;
    border-radius: 2px;
    min-width: 14px;
    height: 14px;
    padding: 0 2px;
    position: absolute;
    text-align: center;
    bottom: 14px;
    left: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

