<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header ">
                Lista utenti
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Numero utente</th>
                                <th>Nome Utente</th>
                                <th>Password</th>
                                <th>Ruolo</th>
                                <th>Azione</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cust of userList; let sr= index">
                                <td> {{sr+1}}</td>
                                <td>
                                    {{cust.userName}}
                                </td>
                                <td>
                                    {{cust.password}}
                                </td>
                                <td>
                                    {{cust.role}}
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-success" (click)="onEdit(cust)"  >Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="onDelete(cust.userId)" >Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
               Form Utente
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Nome utente</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.userName">
                    </div>
                    <div class="col-6">
                        <label for="">Seleziona ruolo</label>
                        <select  class="form-control" [(ngModel)]="userObj.role">
                            <option value="Staff">Admin</option>
                            <option value="Staff">Normale</option>
                            <option value="Staff">Host</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" class="form-control" [(ngModel)]="userObj.password">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12 text-center">
                        <button class="btn btn-success" (click)="onSaveUser()">Salva Utente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
