<app-jumbotron [Titolo]="titolo" [SottoTitolo]="sottotitolo"></app-jumbotron>

<section class="content-main">
	<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card shadow mx-auto" style="max-width: 380px; margin-top:15px;">
      <div class="card-body">
        <h4 class="card-title mb-4">Sign up</h4>
        <form>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" placeholder="Type email" type="text">
            </div> <!-- form-group// -->
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <div class="row gx-2">
                  <div class="col-4"> <input class="form-control" value="+39" type="text"> </div>
                  <div class="col-8"> <input class="form-control" placeholder="Phone" type="text"> </div>
                </div>
            </div> <!-- form-group// -->
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" placeholder="Password" type="password">
            </div> <!-- form-group// -->
            <div class="mb-3">
                <p class="small text-center text-muted">Iscrivendoti, confermi di aver letto e accettato la nostra Informativa per l'utente e l'Informativa sulla privacy.</p>
            </div> <!-- form-group  .// -->
            <div class="mb-4">
                <button type="submit" class="btn btn-primary w-100"> Salva  </button>
            </div> <!-- form-group// -->
          <p class="text-center small text-muted">o iscriviti con  </p>
          <div id ="google-btn">

          </div>
        </form>














      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
