<div class="container">
    <h4>New Booking</h4>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <label>Nome</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.name" />
                </div>
                <div class="col-3">
                    <label>Telefono</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.mobileNo" />
                </div>
                <div class="col-3">
                    <label>Email</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.email" />
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label>carta di identita</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.cartaid" />
                </div>
                <div class="col-3">
                    <label>Città</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.city" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Indirizzo</label>
                    <textarea class="form-control"  [(ngModel)]="bookingObj.address"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label>Select Room</label>
                    <select class="form-control"  [(ngModel)]="bookingObj.roomId">
                      <option>BATHROOM</option>
                      <option>HYDROMASSAGE</option>
                      <option>WHEELCHAIR_ACCESS</option>
                      <option>SPA</option>
                      <option>ALLINCLUSIVE</option>
                      <option>CENTER</option>
                      <option>APARTMENT</option>
                      <option>ROOM</option>
                      <option>PRIVATEBATHROOM</option>
                      <option>SEA</option>
                      <option>MONTAIN</option>
                      <option>MAISON</option>
                      <option>PARKING</option>
                      <option>AIRCONDITIONER</option>
                      <option>BREAKFAST</option>
                      <option>GYM</option>
                      <option>CLEAN</option>
                      <option>MASSAGE</option>
                      <option>FREEZER</option>
                      <option>TV</option>
                      <option>WC</option>
                      <option>MINIBAR</option>
                      <option>BIDET</option>
                        <option *ngFor="let room of roomList" [value]="room.roomId"> {{room.roomName}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Costo</label>
                    <input type="text" class="form-control"  [(ngModel)]="bookingObj.bookingRate" />
                </div>
                <div class="col-3">
                    <label>Inizio ore</label>
                    <input type="date" class="form-control"  [(ngModel)]="bookingObj.bookingFromDate" />
                </div>
                <div class="col-3">
                    <label>Fine ore</label>
                    <input type="date" class="form-control"  [(ngModel)]="bookingObj.bookingToDate" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Dettagli Extra </label>
                    <textarea class="form-control"  [(ngModel)]="bookingObj.naration"></textarea>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <h6>Dettagli ospite</h6>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-primary btn-sm text-end" (click)="addGuest()">Add New</button>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr *ngFor="let guest of bookingObj.hotelBookingDetails;let index= index">
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="guest.customerName"   placeholder="Nome ospite">
                                </td>
                                <td>
                                    <input type="text" class="form-control"  [(ngModel)]="guest.cartaid"   placeholder="Numero carta di identità">
                                </td>
                                <td>
                                    <button class="btn btn-success" (click)="removeGuest(index)">Remove</button>
                                </td>
                            </tr>

                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-8 text-center">
            <button class="btn btn-success" routerLink="/payment" (click)="onSaveBooking()">Crea Prenotazione</button>
        </div>
    </div>
</div>
