element.style {
  font-size: 52px;
}

.font-semibold {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: normal;
  font-family: 'Open Sans','arial';
  color: inherit;
  text-rendering: optimizelegibility;
}
