

<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Stanza scelta </ng-template>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Inserisci dati </ng-template>

            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Mario" formControlName="firstCtrl" required>
            </mat-form-field>
            <ng-template matStepLabel>Fill out your name</ng-template>

            <mat-form-field>
            <mat-label>cognome</mat-label>
            <input matInput placeholder="Rossi" formControlName="firstCtrl" required>
            </mat-form-field>
          <br>

            <mat-form-field>
                <mat-label>Indirizzo</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Via pesinetto 15"
                       required>
            </mat-form-field>
          <mat-form-field>
            <mat-label>Città</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="ex. Milano"
                   required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="375"
                   required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="pippo@gmail.com"
                   required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Messaggi all'host</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="ex. Milano">
          </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Riepilogo</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>

